<table class="table table-striped table-hover">
  <form id="charity-add-form" class="form-horizontal" method="post" action="/charity/add-charity" role="form">
    <fieldset>
      <div class="col-md-4 from-top-2">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Clean my gutters" required="true" name="charity_title">
        <br />
        <label>Description</label>
        <textarea class="form-control" placeholder="Two story house, 100m gutters, need it done by sunday" required="true" name="charity_description"></textarea>
        <br />
        Charitie types:<br>
        <% CharityType.all.each do |charity| %>
          <div class="form-group">
            <input type="checkbox" <%= 'name="charity_type_' + charity.id.to_s + '"' %>>
            <span class="checkbox-label"><%= charity.name %></span>
            <span class="charity-description"><%= charity.description %></span>
            <br>
          </div>
        <% end %>
        <br />
        <button type="submit" id="save_button" name="save_button" class="btn btn-success">Add charity</button>
      </div>
    </fieldset>
  </form>
</table>
