<div class="col-md-10">
  <div><%= to_link "/tasks/add", "Add a new task(style me please)" %></div>
  <h3>Available tasks</h3>
  <%= show_tasks_table @tasks %>
  <div><%= to_link "/tasks/", "See all" %></div>
</div>
