<div class="col-md-10">
  <% if logged? %>
  <div id="add-task" class="btn btn-success"><%= to_link "/tasks/add", "Add a new task" %></div>
  <% end %>
  <h3>Available tasks</h3>
  <%= show_tasks_table @tasks %>
  <div><%= to_link "/tasks/", "See all" %></div>
</div>
