<div class="container">
  <div class="span8 offset2">
    <h3><%= 'Our users have completed ' + Task.completed.count.to_s + ' tasks and' %></h3>
    <h3><%= sprintf("have raised $ %0.02f for charity.", Application.donations) %></h3>
    <% if logged? %>
    <h3>Thank you for being a part of us!</h3>
    <% else %>
    <h3><a href="/" class="btn btn-success">Join us</a> now and help us change the world!</h3>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Recently completed</div>
    <div class="panel-body">
      <%= show_tasks_table Task.completed.last(PROFILE_RECENTLY_COMPLETED_COUNT).reverse %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Recently opened</div>
    <div class="panel-body">
      <%= show_tasks_table Task.opened.last(PROFILE_RECENTLY_COMPLETED_COUNT).reverse %>
    </div>
  </div>
</div>
