<div class="container">
  <div class="span8 offset2">
    <h3><%= Task.completed.count.to_s + ' tasks completed by our users' %></h3>
    <h3><%= sprintf("$ %0.02f raised for charity", Application.donations) %></h3>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Recently completed</div>
    <div class="panel-body">
      <%= show_tasks_table Task.completed.last(PROFILE_RECENTLY_COMPLETED_COUNT).reverse %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Recently opened</div>
    <div class="panel-body">
      <%= show_tasks_table Task.opened.last(PROFILE_RECENTLY_COMPLETED_COUNT).reverse %>
    </div>
  </div>
</div>
