#footer > p {
  margin-top: 4em;
  padding: 1em 2em;
  background-color: #eee;
}

.popover {
  min-width: 500px;
  max-width: 700px;
}

html{
    font:1em/1.5 Georgia, serif;
}


.charity-description {
  display: block;
  padding-left: 50px;
}

#add-task a {
  color: white;
}

.avatar {
  max-height: 100px;
  max-width: 100px;
}

ul.ui-autocomplete.ui-menu {
	background-color : white
}
